/* Estilos para el contenedor de la galería */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  justify-content: center;

  img {
    width: calc(50% - 8px); /* Para mostrar dos imágenes por fila */
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
}

.empty-msg {
  text-align: center;
  color: #8c8c8c;
  width: 100%;
  margin-top: 50px;
  font-size: 16px;
}